@charset "utf-8";

*, :before, :after {-webkit-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box;}
html{font-family: Arial,sans-serif;line-height:1.6;font-size:14px;color:#666;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
html,body{height:100%}
table{border-collapse:collapse;border-spacing:0}
img{max-width:100%;border:0}
a{color:inherit;text-decoration:none}
address,caption,cite,code,dfn,em,th,var{font-style:normal}
strong{font-weight:normal}
ol,ul,li{list-style:none outside}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
h1{font-size:25px}
h2{font-size:23px}
h3{font-size:19px}
h4{font-size:17px}
h5{font-size:15px}
h6{font-size:13px}
input,textarea,select{
	font-family:inherit;font-size:inherit;font-weight:inherit;outline:0;
	&:focus{outline:none;background-color:#fff}
}
input,textarea {
	&::-moz-placeholder,
	&:-ms-input-placeholder,
	&::-webkit-input-placeholder{font-size:14px;color:#ccc}
}
input:-webkit-autofill{-webkit-box-shadow:0 0 0px 1000px white inset}
input::-ms-clear,input::-ms-reveal{display:none}

.fl {float: left;}
.fr {float: right;}
.clr {clear: both; height: 0; overflow: hidden;}
.clrfix:before, .clrfix:after {content: '\0020';display: block;height: 0;clear: both;visibility: hidden;}

html, body {
	max-height: 100%;
	overflow: hidden;
}


.game-box {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.game-controller {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 2;
	width: 240px;
	padding: 20px;
	text-align: center;
	background: #f2f2f2;
	border-radius: 5px;
	transform: translate(-50%, -50%);
}
.game-controller h2 {
	display: block;
	margin: 0 5px 5px;
	line-height: 1;
	color: #f90;
}
.game-controller a {
	position: relative;
	top: 0;
	display: inline-block;
	// padding: .3em 2em;
	width: 90px;
	padding: .3em 0;
	margin: 0 5px 5px;
	color: #fff;
	background: #37c;
	border-radius: 5px;
	-webkit-transition: top .2s, box-shadow .2s;
	transition: top .2s, box-shadow .2s;
}
.game-controller a.focus-btn,
.game-controller a:hover {
	top: -2px;
	background: #c73;
	box-shadow: 0 2px 6px 2px #ccc;
}
